.contact-section{
    padding-block: 60px;
}

.contact-description{
    margin-block-end: 1.5rem;
    margin-inline-start: 1.5rem;
    font-weight: 400;
    font-family: $base-font-family;
    font-size: 1.125rem;
    p{
        margin: 0 0 10px 0;
    }
}

#contact-project{
    scroll-behavior: smooth;
}
