.faqs{
    padding-block: 22px 60px;
}

.faqs-title{
    font-family: $heading-font-family;
    font-size: 4rem;
    font-weight: 400;
    line-height: 86.91px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 60px;
}

.btn--faqs{
    background-color: $color-primary;
    padding: 6px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    position: relative;
}

.icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    margin: 0;
    padding: 0;
}
.icon-plus{
    position: absolute;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.icon-minus{
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.faq-question{
    font-family: $base-font-family;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 30.17px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $black--true;
    padding-inline-start: 12px;
}

.faqs-answer{
    font-family: $base-font-family;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $black--true;
    margin: 24px 0 12px 0;
    padding: 0;
}