.header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;

    .logo{
        padding: 24px;
        margin-block-end: 12px;
    }
    .header-title{
        color: $white--true;
        font-size: 6rem;
        font-weight: 400;
        text-align: center;
        line-height: 130.37px;
        margin: 0;    
    }
    .header-info{
        font-size: 1.5rem;
        color: $white--true;
        font-weight: 400;
        text-align: center;
        line-height: 30.17px;
    }
}