<div class="layout--main flex flex--column">
  <h2><%= t('pages_nav.contact') %></h2>
  <div class="contact flex flex--row flex-align--start">
  <div id="map" style="height: 360px; width: 708px;"></div>
    <div class="contact-description flex flex--column flex--start flex-align--start">
      <h4>Adresa</h4>
      <p>Trg Vatroslava Lisinskog 11<br>31000 Osijek, Hrvatska</p>
      
      <h4>Telefon</h4>
      <p>
        <%= link_to '+385 (0)31 229 181', 'tel:+38531229181', class: 'link' %>
      </p>

      <h4>E-mail</h4>
      <p>
        <%= mail_to 'info@starapekara.eu', 'info@starapekara.eu', class: 'link' %>
      </p>
    </div>
  </div>
</div>

<script>
  function initMap() {
  const coordinates = { lat: 51.505, lng: -0.09 };


  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 13,
    center: coordinates,
  });

  new google.maps.Marker({
    position: coordinates,
    map: map,
    title: "Your Location",
  });
}
</script>
