<div class="header">
    <%= image_tag 'logo.svg', class: 'logo' %>
    <div class="header-content">
        <h1 class="header-title">Stara Pekara</h1>
        <p class="header-info">Edukativni i informativni turistiÄki centar mladih</p>
    </div>
</div>
