<div id="header-project" class="header">
    <div class="header-content flex flex--column">
        <div class="header-image"><%= image_tag 'logo.svg', class: 'logo' %></div>
        <h1 class="header-title">Stara Pekara</h1>
        <p class="header-info">Edukativni i informativni turistiÄki centar mladih</p>
    </div>
    <!-- <button class="js-anchor burger-button arrow--down">
        <%= image_tag 'icons/arrow--down.svg' %>
    </button> -->
</div>
