<nav class="nav--mobile sticky-header">
  <div class="flex flex--end">
    <button class="js_burger burger-button">
      <%= image_tag 'icons/arrow--left.svg', class:'arrow--left' %>
    </button>
  </div>
  <div class="js_nav_user nav--mobile__content">
    <div class="nav__link--wrap">   
      <%= render 'layouts/navigation_links' %>
    </div>
  </div>
</nav>
